<div class="container mt-2">
<div class="card bg-dark text-white mb-3 d-inline-block">
    <div class="row">
        <div class="col">
            <h2 *ngIf="dogData.title">{{dogData.title}}:</h2>
            <h3 class="card-title">{{dogData.breed}}</h3>
        <img src="{{dogData.message}}" style="width: 15em; height: 15em;">
        </div>
        <div class="col">
            <h4>Likes</h4>
            <button class="d-block" style="width: 2em; height: 2em;">
                <i (click)="voteUp()" class="bi bi-arrow-up-square-fill"></i>
            </button>
            <label id="rank">{{dogData.rank}}</label>
            <button class="d-block" style="width: 2em; height: 2em;">
                <i (click)="voteDown()" class="bi bi-arrow-down-square-fill"></i>
            </button>
            <button *ngIf="dogData.userIDFavourite" style="width: 2em; height: 2em;">
                <i class="bi bi-heart-fill"></i>
            </button>
            <button *ngIf="!dogData.userIDFavourite">
                <i class="bi bi-heart"></i>
            </button>
        </div>
    </div>
</div>
</div>