<body class="bg-dark text-white min-vh-100 bg-opacity-75">
<button (click)="getRandomDogDetails()">Random Dog</button>
<div class="input-group d-flex justify-content-center m-2">
    <div class="form-outline text-center">
      <input id="search-input" type="search" id="form1" class="form-control" placeholder="Search" #input/>
    </div>
    <button (click)="searchDogDetails(input.value)" id="search-button" type="button" class="btn btn-primary">
      <i class="bi bi-search"></i>
    </button>
  </div>
  <div *ngIf="searchedDogData?.breed">
      <app-dog-profile [dogData]="searchedDogData"></app-dog-profile>
  </div>
<div *ngIf="rndDogData?.breed">
    <app-dog-profile [dogData]="rndDogData"></app-dog-profile>
</div>
<div>
    <app-dog-profile *ngFor="let dogData of dogsData" [dogData]="dogData"></app-dog-profile>
</div>
</body>