<body class="bg-dark">
<button (click)="getRandomDogDetails()">Get Data</button>
<div *ngIf="rndDogData.breed">
    <h1>{{rndDogData.breed}}</h1>
    <img src="{{rndDogData.message}}" width="200" height="200">
</div>
<div class="position-absolute top-0 end-0">
    <button>Log In</button>
</div>
<div class="input-group d-flex justify-content-center m-2">
    <div class="form-outline text-center">
      <input id="search-input" type="search" id="form1" class="form-control" placeholder="Search" #input/>
    </div>
    <button (click)="searchDogDetails(input.value)" id="search-button" type="button" class="btn btn-primary">
      <i class="bi bi-search"></i>
    </button>
  </div>
  <div *ngIf="searchedDogData.message">
      <app-dog-profile [dogData]="searchedDogData"></app-dog-profile>
      <p>Success</p>
  </div>
<app-dog-profile *ngFor="let dogData of dogsData" [dogData]="dogData"></app-dog-profile>
</body>