<body class="bg-dark text-white min-vh-100 bg-opacity-75">
<button (click)="getRandomDogDetails()">Random Dog</button>
<h1 class="text-center mb-4" style="font-size: 5em;">GoodBoy.com</h1>
<div class="input-group d-flex justify-content-center">
    <div class="form-outline text-center">
      <input id="search-input" type="search" id="form1" class="form-control" placeholder="Search" #input/>
    </div>
    <button (click)="searchDogDetails(input.value)" id="search-button" type="button" class="btn btn-primary">
      <i class="bi bi-search"></i>
    </button>
  </div>
  <div *ngIf="searchedDogData?.breed">
      <app-dog-profile [dogData]="searchedDogData"></app-dog-profile>
  </div>
<div *ngIf="rndDogData?.breed">
    <app-dog-profile [dogData]="rndDogData"></app-dog-profile>
</div>
<div>
  <h1 class="text-center mt-4">Favourite Dogs</h1>
  <div class="text-center">
   <app-dog-profile *ngFor="let dogData of dogsData" [dogData]="dogData" class="card d-inline-block bg-dark m-2"></app-dog-profile> 
  </div>
  </div>
</body>